<h1>Home</h1>

<button id="new-list-button">New List</button>

<div id="lists-container-wrapper">
    <div id="lists-container-content">
        <% @lists.each do |list| %>
        <div class="list-header">
            <%= link_to list.title, list_path(list.id), class: "list-link" %>
            <%= button_to "X", list_path(list.id), method: :delete, data: {turbo_confirm: "Confirm delete list: #{list.title}"}%>
        </div>
        <% end %>
    </div>
    <%= form_with model: @new_list, url: new_list_path,  html: { id: "new-list-form", class: "hide" } do |form| %>
        <%= form.text_field :title, id: "new-list-input", placeholder: "List title..." %>
    <% end %> 
</div>




<script>
    document.querySelector("#new-list-button").addEventListener('click', () => {
        const form = document.querySelector("#new-list-form")
        form.classList.toggle('hide')
        if (!form.classList.contains('hide'))
            document.querySelector("#new-list-input").focus()

        // form.classList.remove('hide')
        // if (form.classList.contains('hide')) {
        //     console.log('focus')
        //     document.querySelector("#new-list-form").classList.remove('hide')
        //     document.querySelector("#new-list-input").focus()
        // } else {
        //     console.log('hide')
        //     document.querySelector("#new-list-input").blur()
        // }
    })

    document.querySelector("#new-list-input").addEventListener('keydown', (e) => { // hide it when pressing escape
        if (e.key === 'Escape')
        {
            e.preventDefault()
            e.target.value = ''
            e.target.blur()
            document.querySelector("#new-list-form").classList.add('hide')
        }
        else if (e.key === "Return") 
        {
            // submit a new list
            e.preventDefault()
            document.querySelector("#new-list-form").submit()

            // <% %>
        }
    }) 


</script>