<h1>Home</h1>

<button id="new-list-button">New List</button>

<div id="lists-container-wrapper">
    <div id="lists-container-content">
        <% @lists.each do |list| %>
            <%= link_to list.title, list_path(list.id) %>
        <% end %>
    </div>
    <%= form_with model: @new_list, url: new_list_path,  html: { id: "new-list-form", class: "hide" } do |form| %>
        <%= form.text_field :title, id: "new-list-input", placeholder: "List title..." %>
    <% end %> 
</div>




<script>
    document.querySelector("#new-list-button").addEventListener('click', () => {
        document.querySelector("#new-list-form").classList.remove('hide')
        document.querySelector("#new-list-input").focus()
    })

    document.querySelector("#new-list-input").addEventListener('blur', () => { // hide it when clicking away
        document.querySelector("#new-list-form").classList.add('hide')
    })

    document.querySelector("#new-list-input").addEventListener('keydown', (e) => { // hide it when pressing escape
        if (e.key === 'Escape')
        {
            e.preventDefault()
            e.target.value = ''
            e.target.blur()
        }
        else if (e.key === "Return") 
        {
            // submit a new list
            e.preventDefault()
            document.querySelector("#new-list-form").submit()

            // <% %>
        }
    }) 


</script>